*.db
!arcade_dat.db
*.db-wal
*.db-shm
__pycache__/
*.pyc
.hermes/
roms/
bios/
saves/
covers/
bak/
*.sav
*.state
*.zip
*.7z
*.bin
*.rom
*.pce
*.gba
*.sfc
*.smc
*.nes
*.nds
*.z64
*.n64
*.cue
*.iso
*.pbp
